{% extends 'base.html.twig' %}

{% block title %}Nos derniers exemples{% endblock %}

{% block body %}
    <div id="exemples">
        {% for exemple in exemples %}
            <div class="single-exemple">
                <h3>{{ exemple.titre }}</h3>
                {% if exemple.description is not null %}
                    <label>Que fait ce code ?</label>
                    <p>{{ exemple.description }}</p>
                {% endif %}
                <pre>{{ exemple.code }}</pre>
                <time>Créer le : {{ exemple.createdAt|date('d/m/Y') }}</time>
            </div>
        {% endfor %}
    </div>
{% endblock %}
